.figureContainer figcaption {
    font-family: "Duke Fill";
    font-size: 32px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.divLegends{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 3%;
}

.deleteButton{
    cursor: pointer;
}

.deleteButton:hover{
    transform: scale(1.1);
    opacity: 0.8;
    color: red;
}