.divCards{
    min-width: 80%;
    min-height: 88vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.cardLendasImagem{
    width: 200px;
    height: 300px;
}

.cardsHomePage{
    cursor: pointer;
}

.cardsHomePage:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.cardsHomePage:not(:hover){
    transform: scale(1);
    transition: transform 0.2s ease;
}