.navBar{
    background-color: black;
    opacity: 0.88;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImagem{
    width: 8%;
    height: 80%;
    margin-left: 2%;
}

.profileButton{
    cursor: pointer;
    /* width: 50px;
    height: 50px;*/
    margin-right: 30px;
    color: white;
}



/* .buttonLogin{
    background-color: transparent;
    padding: 5px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Duke Fill";
    color: white;
    border: 0;
}

.buttonSignin{
    background-color: transparent;
    margin-right: 30px;
    padding: 5px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Duke Fill";
    color: red;
    border: 0;
} */

/* .buttonLogin:hover{
    opacity: 0.5;
    transform: scale(1.2);
}

.buttonSignin:hover{
    opacity: 0.5;
    transform: scale(1.2);
} */