.profileDiv{
    position: absolute;
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: white;
    z-index: 1;
    right: 0;
}

.profileIcon{
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 60%;
}

.closeButton{
    position: absolute;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 0;
    top: 2%;
    left: 2%;
}
