.profileDiv {
    position: absolute;
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    color: white;
    z-index: 1;
    right: 0;
    top: 0;
}

.profileIcon {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 60%;
}

.closeButton {
    position: absolute;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 0;
    top: 2%;
    left: 2%;
}

.profileDiv p {
    font-size: 30px;
    font-family: 'Duke Fill';
    margin: 0;
    margin-bottom: 5%;
}

.logOutButton {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Duke Fill';
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;    
}
