.card{
    background: rgba(31, 30, 30, 0.96);
    color: #FFF;
    width: 120px;
    height: 220px;
    padding: 200px;
    border-radius: 10px;
    margin-right: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.logoImage{
    width: 200px;
    height: 110px;
}