.card{
    background-color: rgb(31, 30, 30);
    color: #FFF;
    width: 500px;
    height: 580px;
    border-radius: 10px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    color: #FFF;
    font-family: "Duke Fill";
    font-size: 55px;
    margin: 30px;
}

