.myNavBar{
    background-color: black;
    opacity: 0.88;
    min-width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.logoImagem{
    width: 15%;
    margin: 0.2% 2%;
}

.divMyButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-right: 45%;
}

.myNavButton{
    background: transparent;
    color: white;
    font-family: "Duke Fill";
    font-size: 200%;
    border: none;
}

.myNavButton:hover{
    transform: scale(1.15);
    color: red;
    cursor: pointer;
}

.userCollection{
    color: white;
    font-size: 200%;
}