.myCollection{
    background-color: rgba(60,60,60);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 2%;
    user-select: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPage {
    background-color: rgba(20,20,20);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
    border-radius: 50px;
    min-height: 100vh;
    box-shadow: 6px 6px rgb(12, 12, 12);
}

.placeholder {
    font-family: "Duke Fill";
    color: white;
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}