@import url('https://fonts.cdnfonts.com/css/tt-lakes-neue-trial');
@font-face {
    font-family: 'Duke Fill';
    src: url('/assets/Duke_Fill.otf') format('otf');
  }


.background{
    background-image: url(/assets/bgs/bg-tela-login-cadastro.png);
    background-color: rgb(21, 21, 21);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logoImagem{
    width: 220px;
    height: 100px;
    margin-right: 10px;
    position: absolute;
    top: 100px;
}

.buttonRegister{
    background-color: transparent;
    font-size: 22px;
    font-family: "Duke Fill";
    color: white;
    border: 0;
}

.linkRegister {
    color: #DA292A;
    text-decoration: none;
    padding-left: 5px;
    cursor: pointer;
}

.buttonLembrar{
    padding: 5px;
    padding-right: 40px;
    font-size: 22px;
    font-family: "Duke Fill";
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 10px; 
}

.minhaCaixaDeSelecao{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.errorMsg {
    margin: 0;
    font-family: 'TT Lakes Neue Trl Cmd';
    font-size: 20px;
    color: #DA292A;
    font-weight: bold;
    text-align: center;
}