.background{
    background: linear-gradient(180deg, rgba(218, 41, 42, 0.69) 15.1%, rgba(0, 0, 0, 0.00) 100%);    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}

.logoImagem{
    width: 90px;
    height: 100px;
    margin-right: 90%;
    position: absolute;
    top: 0%;

}


.container {
    display: flex;
    justify-content: space-between; /* ou qualquer outra propriedade de justificação desejada */
    gap: 13px;
  }
  .input{
    padding: 15px 15px;
    width: 200px; /* ou qualquer percentual desejado */
    height: 50PX; /* ou qualquer altura desejada */
    border: 0;
    background-color: rgb(31, 30, 30);
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    font-family: "Duke Fill";
    font-weight: bold;
    align-items: center;
    border: 1px solid #838080; /* Cor branca (#ffffff) e largura de 1 pixel */
    }