.input{
    padding: 12px 12px;
    width: 440px; 
    height: 50px;
    background-color: rgb(31, 30, 30);
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    font-family: "Duke Fill";
    border: 1px solid #FFF; 
}