.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3.5%;
}

.cardsContainer figure {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.figureContainer {
    margin: 0;
}

.figureContainer figcaption {
    font-family: "Duke Fill";
    font-size: 32px;
    color: white;
}

.figureContainer:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.figureContainer:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.linkLegendData {
    text-decoration: none;
    color: #000;
}