.container {
    background: url(/assets/bgs/bg-tela-lendas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0, 0.9);
    text-align: center;
    padding: 15px;
    min-height: 100vh;
}