.button{
    width: 465px; 
    height: 70px; 
    border: none;
    background: #DA292A;
    color: white;
    font-size: 45px;
    font-family: "Duke Fill";
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover{
    opacity: 0.8;
}